<% include ./templates/head %>
<% include ./templates/header %>
<div class="folge wrapper">
  <div class="container">
    <div class="cover">
      <img src="<%= folge.images[0].url %>">
    </div>
    <div>
      <h2>Die drei ???</h2>
      <h1><%= folge.name %></h1>
      <h2>Folge </h2>
      <div>Veröffentlicht am <%= moment(folge.release_date).format('DD.MM.YYYY') %></div>
      <% if(folge.rating) { %>
        <div><%= folge.rating %><small>/10</small><br><small><%= folge.ratings.length %> Bewertungen</small></div>
      <% } %>
      <form action="/folge/<%= folge.number %>/rate" method="POST">
        <input type="number" min="1" max="10" name="rating">
        <button type="submit">Bewerten</button>
      </form>
    </div>
  </div>
</div>

<% include ./templates/footer %>