<% include ./templates/head %>
<% include ./templates/header %>
<div class="wrapper">
  <form action="/" method="GET">
    <select name="sortby">
      <option value="number">number</option>
      <option value="rating" <% if(settings.sortby === 'rating') { %> selected <% } %>>rating</option>
    </select>
    <input type="radio" name="view" value="grid" <% if(settings.view === 'grid') { %> checked <% } %>>Grid
    <input type="radio" name="view" value="list" <% if(settings.view === 'list') { %> checked <% } %>>List
    <button type="submit">Sort</button>
  </form>
  <div class="folgen folgen_<%= settings.view %>">
    <% folgen.forEach(folge => { %>
      <a href="/folge/<%= folge.number %>" class="folge-miniatur">
        <div class="cover">
            <!-- <div class="loader"></div> -->
            <img src="http://cdn.smehost.net/hcmssmeappscom-delabelsprod/produkte/hoerspiele/ddf_cd_<%= folge.number %>.jpg" alt="<%= folge.number %>">
        </div>
        <div class="rating">
          <span><%= folge.rating %></span>
        </div>
      </a>
    <% }) %>
  </div>
</div>

<% include ./templates/footer %>

<script>
  // const doms = document.querySelectorAll('.cover');
  // doms.forEach(cover => {
  //   console.log(cover);
  //   cover.children[1].addEventListener('load', () => {
  //     cover.children[0].classList.add('hidden');
  //     cover.children[1].classList.remove('hidden');
  //   })
  // });
</script>